@import url('https://fonts.cdnfonts.com/css/modern-no-20');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1b2226;
    overflow-x: hidden;
}

@media(prefers-reduced-motion) {
    *, *::before, *::after {
        transition: none !important;
    }
}

/* Scroll Animations */

.hidden {
    opacity: 0;
    filter: blur(3px);
    transition: all var(--scrollAnimSpeed);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.show.fade-bottom {
    animation: fade-bottom var(--scrollAnimSpeed) ease-in;
}

.show.fade-top {
    animation: fade-top var(--scrollAnimSpeed) ease-in;
}

.show.fade-left {
    animation: fade-left var(--scrollAnimSpeed) ease-in;
}

.show.fade-right {
    animation: fade-right var(--scrollAnimSpeed) ease-in;
}

@keyframes fade-bottom {
    0% {
      transform: translateY(15%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes fade-top {
    0% {
      transform: translateY(-15%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes fade-left {
    0% {
      transform: translateX(-15%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes fade-right {
    0% {
      transform: translateX(15%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

/* Main */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 60px;
    z-index: 10000;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-family: 'Modern No. 20', sans-serif;
    letter-spacing: 2px;
    font-weight: 500px;
}

#scroll-wrapper {
    position: absolute;
    text-align: center;
    width: 20vw;
    height: 10vh;
    top: 85%;
    left: 50%;
    margin-left: -10vw;
    padding: 1rem;
    transition: top .2s ease-in-out;
}

#scroll-wrapper:hover {
    top: 84%;
    transition: top .2s ease-in-out;
}

#scroll-wrapper img {
    margin: .2rem;
    height: 45px;
    width: auto;
}

.name {
    position: absolute;
    color: #fff;
    font-family: 'Modern No. 20', sans-serif;
    top: 50%;
}