@import url(https://fonts.googleapis.com/css?family=Poppins);
:root {
    --primaryWhite: #EDF2F4;
    --primaryDark: #212529;
    --secondaryDark: #6D6D6D;
    --primaryRed: #EF233C;
    --secondaryRed: #D90429;
}

body {
    background-color: var(--primaryDark);
}

.nav {
    text-align: center;
    padding: 20px;
}

.nav a {
    color: var(--secondaryDark);
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    transition: color .2s ease-out;
    transition: text-shadow .2s ease-out;
}

.nav a:hover {
    color: var(--primaryWhite);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
    transition: color .2s ease-in;
    transition: text-shadow .2s ease-in;
    font-weight: light;
}

.nav-contact {
    color: var(--secondaryDark);
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

    border-radius: 25px;
    border: 2px solid var(--primaryRed);

    object-fit: contain;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 12px;
    margin-right: 50px;
}

.logo {
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 7px;
    margin-left: 5px;
}

.image {
    width: 640px;
    height: auto;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 50px;
    border: 2px var(--secondaryDark);
}